@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

$desktop-bg-width: 34vw;

.interactive-card {
  width: 100vw;
  min-height: 240px;
  height: 240px;
  aspect-ratio: 1.5625;
  background-image: url("../../images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop-only {
    width: $desktop-bg-width;
    min-height: 100vh;
    height: auto;
    background-image: url("../../../images/bg-main-desktop.png");
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__side {
    position: relative;
    width: 286px;
    height: 157px;
    background-repeat: no-repeat;
    background-size: cover;

    @include desktop-only {
      width: 447px;
      height: 245px;
    }
  }

  .card-wrap {
    position: relative;
    width: 343px;
    margin: auto;
    top: 2rem;

    @include desktop-only {
      position: absolute;
      top: 50%;
      left: $desktop-bg-width;
      transform: translateY(-50%) translateX(-58%);
      width: 541px;
      display: flex;
      flex-wrap: wrap-reverse;
      gap: 37px;
    }
  }
}
