@use "../abstracts/variables" as *;

input[type="text"],
input[type="tel"] {
  border-radius: 8px;
  background-color: $white-color;
  border: 1px solid $light-grey-color;
  font-size: 1.125rem;
  padding: 0.6875rem 1rem;
  width: 100%;

  &:focus {
    outline: 0;
    border: 1px solid transparent !important;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(rgba(99, 72, 254, 1), rgba(97, 5, 149, 1)) border-box;
  }

  &.error {
    border: 1px solid $red-color;
  }
}

.input-group {
  flex: 1 1 auto;
  width: 100%;

  &.half-col {
    flex: 1;
    align-content: baseline;
  }

  .error-message {
    color: $red-color;
    font-size: 0.75rem;
    letter-spacing: 0;
    text-transform: none;
    margin: 0.5rem 0 0;
  }
}

.expire-inputs {
  display: flex;
  gap: 0 0.5rem;
  flex-wrap: wrap;

  & > input {
    flex: 1;
    text-align: center;

    // &:first-of-type {
    //   margin-right: 0.5rem;
    // }
  }
}
